homework/taxi_zone_lookup.csv
code/taxi_zone_lookup.csv
homework/yellow_tripdata_2024-10.parquet
homework/lookup_zones/
*.ipynb_checkpoints
*.parquet
*.csv
*.ipynb_checkpoints
code/data/
code/lib/
code/tmp/
code/zones/
